{% extends "base.html" %}
{% block content %}

    <div class="main-cont">
        <!-- Popup Window -->
        <div class="popup-window">
            <div class="container main">
                <div class="img-popup-window flex-centered  d-none">
                    <div class="img-popup-bg"></div>
                    <div class="container">
                        <div class="img-popup-cont flex-centered">
                            <div onclick="toggleImgPopupWindow()" class="close-img-popup-btn">
                                <i class="fas fa-times redish-color"></i>
                            </div>
                            <div class="main-img flex-centered">
                                <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642574167/DSCI2160_encpxm.jpg"
                                    alt="">
                            </div>
                            <div class="sub-img-cont flex-centered">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649246/pic213_0_hixzhb.jpg"
                                    alt="">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649245/Fengon500-Seite_co6cvk.jpg"
                                    alt="">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649246/Glory580-5_ak1k2p.jpg"
                                    alt="">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649244/Fengon-3_v4azac.jpg"
                                    alt="">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649244/Fengon500-innen2_r3xexd.jpg"
                                    alt="">
                                <img class="sub-img"
                                    src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649240/C35_0_kiiz9x.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Car Name -->
                <h2 class="popup-name redish-color">
                    <span class="uppercase">DFSK -</span> Fengon 580 Intelligent
                </h2>
                <!-- Full Image Container -->
                <div class="popup-image-cont">
                    <!-- Image Box -->
                    <div class="popup-image-box">
                        <!-- Image Slider Buttons -->
                        <div onclick="imgSlider(-1)" class="image-arrow arrow-l flex-center">
                            <i class="fas fa-chevron-left redish-color"></i>
                        </div>
                        <div onclick="imgSlider(1)" class="image-arrow arrow-r flex-center">
                            <i class="fas fa-chevron-right redish-color"></i>
                        </div>
                        <!-- Image -->
                        <div class="img-arrow-slider-cont" onclick="toggleImgPopupWindow()">




                            <img class="2" data-index="2"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1641708079/Fengon-3_qrdt27.jpg"
                                alt="">

                            <img class="selected 0" data-index="0"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642574167/DSCI2160_encpxm.jpg"
                                alt="">

                            <img class="" data-index="3"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646494028/image0_2_dnls6z.jpg"
                                alt="">

                            <img class="" data-index="1"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1640964803/pexels-jonas-f-6755280_mx3ce8.jpg"
                                alt="">

                            <img class="4" data-index="4"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642649247/pic215_bo9i3m.jpg"
                                alt="">

                        </div>
                    </div>
                    <!-- Icon Data Container -->
                    <div class="popup-icon-data-cont">
                        <div class="popup-icon-data">
                            <!-- Data With Icons -->
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699615/thumbnail_4_u7ao5b.png"
                                        alt="leistung icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">Leistung</p>
                                    <p class="data">86 kW / 155 PS</p>
                                </div>
                            </div>
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699616/thumbnail_3_qzexqh.png"
                                        alt="kraftstoffart icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">Kraftstoffart</p>
                                    <p class="data">Benzin</p>
                                </div>
                            </div>
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699614/thumbnail_5_hr2bra.png"
                                        alt="vmax icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">Hochstgeschw.</p>
                                    <p class="data">180 km/h</p>
                                </div>
                            </div>
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699613/thumbnail_6_ar3cqf.png"
                                        alt="verbrauch icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">Verbrauch</p>
                                    <p class="data">9,9 L (komb.)</p>
                                </div>
                            </div>
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699612/thumbnail_7_iuaepx.png"
                                        alt="co2 austoss icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">CO2 Ausstos</p>
                                    <p class="data">224 g/Km</p>
                                </div>
                            </div>
                            <div class="icon-data-cont flex-center">
                                <div class="icon">
                                    <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646699645/thumbnail_2_gk5dhv.png"
                                        alt="leergewicht icon">
                                </div>
                                <div class="descr-box">
                                    <p class="descr">Leergewicht</p>
                                    <p class="data">1665 kg</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Price -->
                <div class="popup-price-cont">
                    <div></div>
                    <div class="popup-price">
                        <span class="ab">ab</span> <span>13.754,00</span> <span class="eur">EUR</span>
                        <p>inkl. 19% MwSt. zzgl. Versand *</p>
                    </div>
                </div>
                <!-- Car Data Boxes -->

                <div class="popup-main-data-cont beschr">
                    <!-- Car Data -->
                    <div class="popup-beschr-data data-box">
                        <div onclick="toggleBeschrDatenCont()" class="data-headl-cont beschr">
                            <h5 class="redish-color">BESCHR<span class="not- v2">EIBUNG</span></h5>
                            <!-- Extend Car Data Box Button -->
                            <div class="open-t-daten-btn flex-center">
                                <i class="icon-box-arrow fas fa-chevron-right beschr"></i>
                                <i class="icon-box-cross fas fa-times beschr invisible"></i>
                            </div>

                        </div>
                        <div class="daten-icon beschr">
                            <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1646776905/thumbnail_14_nufqdb.png"
                                alt="car icon">
                        </div>
                        <div class="technische-daten beschr collapsed">
                            <!--                     !!  -->
                            <img class="hidden beschr"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642452500/thumbnail_dfhs8a.png"
                                alt="car icon">
                            <div class="slide-in-data beschr">
                                <P> <span class="model-name">Der DFSK - Fengon 5</span>
                                    ist bei uns das Einstiegsmodell bei DFSK zum absoluten Tiefpreis. Ein modernes
                                    aussergewöhnliches <br> Design, die gute Qualität, ausgereifte Technik und der neue 1,5
                                    Euro6D Motor begeistern die Kunden. DFSK <br>schließt mit dem Fengon 500 die Lücke im
                                    Kleinwagensegment.
                                    <br>
                                    Dieser kleine SUV für Einsteiger wird auch Sie begeistern.
                                </P>
                                <h5>Austattung</h5>
                                <hr>
                                <!--
                                <span>ABS</span> &bull;
                                <span>Fahrerairbag</span> &bull;
                                <span>Beifahrerairbag</span> &bull;
                                <span>Lichtsensor</span> &bull;
                                <span>Kindersicherung</span> &bull;
                                <span>Reifendruckkontrollsystem</span> &bull;
                                <span> USB / Aux / Bluetooth</span> 
                                
                                <br><br>
                                    <span>ABS</span>,
                                <span>Fahrerairbag</span>,
                                <span>Beifahrerairbag</span>,
                                <span>Lichtsensor</span>,
                                <span>Kindersicherung</span>,
                                <span>Reifendruckkontrollsystem</span>,
                                <span> USB/Aux/Bluetooth</span> 
                                
                                <br><br>
        -->
                                <span>ABS</span> ,
                                <span>Fahrerairbag</span> ,
                                <span>Beifahrerairbag</span> ,
                                <span>Lichtsensor</span> ,
                                <span>Kindersicherung</span> ,
                                <span>Reifendruckkontrollsystem</span> ,
                                <span> USB/Aux/Bluetooth</span>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>


                <div class="popup-main-data-cont car">
                    <!-- Car Data -->
                    <div class="popup-car-data data-box">
                        <div onclick="toggleTechnischeDatenCont()" class="data-headl-cont">
                            <h5 class="redish-color">TECHN<span class="not- v2">ISCHE</span> DATEN</h5>
                            <!-- Extend Car Data Box Button -->
                            <div class="open-t-daten-btn flex-center">
                                <i class="icon-box-arrow fas fa-chevron-right"></i>
                                <i class="icon-box-cross fas fa-times invisible"></i>
                            </div>

                        </div>
                        <div class="daten-icon car">
                            <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642452500/thumbnail_dfhs8a.png"
                                alt="car icon">
                        </div>
                        <div class="technische-daten daten collapsed">
                            <img class="hidden car"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642452500/thumbnail_dfhs8a.png"
                                alt="car icon">
                            <div class="slide-in-data tech">
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kofferraumvolumen</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">165 R13 LT opt. 175/65 R14</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">CO2 Ausstos</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Vmax</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Zylinder</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Emissionsklasse</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Antrieb</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">6,7 L (komb.)</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Allrad</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="popup-main-data-cont size">
                    <div class="popup-size-data data-box">
                        <div onclick="toggleSizeDatenCont()" class="data-headl-cont">
                            <h5 class="redish-color"><span class="not-v">MAẞE UND</span> ABMESSUNGEN</h5>
                            <div class="open-t-daten-btn flex-center">
                                <i class="icon-box-arrow fas fa-chevron-right size"></i>
                                <i class="icon-box-cross fas fa-times invisible size"></i>
                            </div>

                        </div>
                        <div class="daten-icon size">
                            <img src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642452491/thumbnail_1_tm7hys.png"
                                alt="size icon">
                        </div>
                        <div class="technische-daten size collapsed">
                            <img class="hidden size"
                                src="https://res.cloudinary.com/dxcrd5sos/image/upload/v1642452491/thumbnail_1_tm7hys.png"
                                alt="size icon">
                            <div class="slide-in-data size">
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">CO2 Ausstos</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Vmax</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Zylinder</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Benzin</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">6,7 L (komb.)</div>
                                </div>
                                <div class="data">
                                    <div class="data-l">Kraftstoff</div>
                                    <div class="data-rtechnische">Allrad</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}